<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/style.css') }}">
	<script src="controller.js"></script>
    <title>Illini-Spider</title>
</head>
<body>
	<div class="card">
	  <h1>Get class notifications</h1>
	  <div class="input-group">
	    <input type="tel" id="phone-input" class="m-input"></input>
	    <label for="phone-input">Phone</label>
	  </div>
	  <div class="input-group">
	    <button class="btn">Submit</button>
	  </div>
	</div>
</body>
</html>